body{
    font-size: 16px;

    max-width: 1367px;
    margin: 0 auto;
}

*{
    color: #fff;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
    
}

header{
    position:sticky;
    top: 0;
    margin: 0 48px -46px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px rgb(255, 255, 255, 0.2) solid;
}
.header__logo{
    margin-left: 20px;
}

.header__nav{
    width: 691px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__nav__link{
    color: #fff;
    list-style: none;
}

.header__tool{
    display: flex;
}
.header__tool_phone{
    margin: 0 20px;
}
.main{
    background-image: url(img/Main_bg.jpg);
    margin: 0 auto;
    border: 2px blue solid;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.main__middle__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: #fff;
    width: 608px;
    height: 316px;
    margin-bottom: 80px;
}
.video_button{
    width: 86px;
    height: 86px;
    border: 10px solid #203260;
    border-radius: 50%;
    background: url(img/button_tri.svg) no-repeat center;
}
.video_button::before{
    content: url(img/video_txt.svg); 
    position: absolute; 
     
}

/*
.video_button_txt{
    margin-left: -120px;
    margin-top: -50px;
    transform: rotate(-90deg);
    transform: rotate3d(5deg);
    color: #203260;
}
*/


.main__button_box{
   width: 90%;
   border: 2px green solid;
   display: flex;
   margin: 0 auto;
}

.main__button{
    background-color: #6289D9;
    height: 50px;
    border: none;
    border-radius: 50px;
}
.main__button:nth-child(2){
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.main__button:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: rgb(98, 137, 217, 0.3);
    border-radius: 50px;
}

.sections__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 119px;
    border: 2px green solid;
}
.sections__nav__item{
    display: flex;
    flex-direction: column;
    color: #203260;
    background-color: none;
    border: none;
}
.catalog{
    width: 1110px;
    height: 960px;
    margin: 0 auto;
}

.catalog__box{
    background-color: #F5F8FB;
}

.catalog__box__items{
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog__box__item{
    width: 16%;
    height: 200px;
    color: #203260;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}